@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

div.block.block-views.block-views-blockpatient-testimonials-block-1 > div > div > div{
  background: ghostwhite;
font-family: "Lato", sans-serif;

}

#views_slideshow_cycle_div_patient_testimonials-block_1_0,
#views_slideshow_cycle_div_patient_testimonials-block_1_1 {
    display: flex !important;
}
#views_slideshow_controls_text_pause_patient_testimonials-block_1 > a {
    display: none;
}
#views_slideshow_controls_text_patient_testimonials-block_1 {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}
#views_slideshow_controls_text_previous_patient_testimonials-block_1,
#views_slideshow_controls_text_next_patient_testimonials-block_1 {
    position: relative;
}
#views_slideshow_controls_text_next_patient_testimonials-block_1 > a > img {
    top: -280px;
    position: absolute;
    right: -108px;
    z-index: 999;
    width: 150px;
}
#views_slideshow_controls_text_previous_patient_testimonials-block_1 > a > img {
    position: absolute;
    top: -280px;
    z-index: 999;
    left: -140px;
    width: 150px;
}
.block-views-blockpatient-testimonials-block-1 {
    .view-content {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 auto;
        max-width: 1140px;
    }
}
.testimonial-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    padding: 40px;
    width: 340px;
    margin-right: 30px;
    border: 2px solid #f5f5f5;
    border-radius: 4px;
    img {
        width: 70px;
        height: 70px;
        border-radius: 100%;
        margin-bottom: 20px;
    }
    p {
        text-align: center;
        font-size: 18px;
        line-height: 1.35;
        color: #004861;
        font-weight: 900;
    }
    .patient-name {
        font-size: 13px;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 5px;
    }
    .patient-occupation {
        color: #959595;
        font-size: 11px;
        line-height: 1;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-top: 8px;
    }
}
