@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

#block-customtheme-content > div > article > div > div:nth-child(8) > div > div{
    background-image:url('/themes/custom/customtheme/components/consultation/background.jpg');
    padding: 80px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: center;
    height: 540px;
}
#block-customtheme-content > div > article > div > div:nth-child(9) > div > div > section{
    background: white;
}
.consultation-container{
    max-width: 1140px;
    display: flex;
    justify-content: flex-start;
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    .left-col{
        display: flex;
        flex-direction: column;
        width: 40%;
        h2{
            color: white;
            font-size: 52px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        p{
            color: white;
            margin-bottom: 20px;

        }
        a{
            background: #00a3c8;
            padding: 12px 24px;
            color: white;
            text-decoration: none;
            transition: 0.6s;
            border: 2px solid transparent;
            border-radius: 4px;
            width: 40%;
            text-align: center;
            &:hover{
            border: 2px solid white;
            transition: 0.6s;
            background: none;
            }
        }
    }
}