@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.signature-section {
 width: 100%;
 font-family: "Lato", sans-serif;
 padding-top: 100px;
 background: ghostwhite;
 
 .signature-container {
  max-width: 1140px;
  display: flex;
  margin: 0 auto;
  margin-top: 125px;
  .left-col {
   img {
    width: 100%;
   }
  }
  .right-col {
   width: 50%;
   padding: 30px 0px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-left: 60px;
   .small-heading {
    text-transform: uppercase;
    color: #00a3c8;
    font-size: 13.2px;
    font-weight: bold;
    margin-bottom: 20px;
   }
   h2 {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
   }
   p {
    margin-bottom: 30px;
    color: #847979;
   }
   .name-job-title {
    color: #847979;
   }
   .signature-logo {
    width: 200px;
    margin-top: 15px;
   }
  }
 }
}